@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">
        PARABÉNS!!!!<br/>

        Encontrou o melhor Gestor de Aluguel de Filmes Online
    </p>
    
</div>
