@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>
@if (!Model.Any())
{
    <p>Ainda não temos clientes.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Clientes</th>
            <th>Taxa de Desconto</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)</td>
                <td>@customer.MembershipType.DiscuntRate%</td>
            </tr>
        }
        </tbody>
    </table>
}
